.App {
  text-align: center;
  background-color: darkblue;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trivia-questions{
  background: grey;
  color: white
}

.center {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  position: relative;
  background-color: #EEEEEE;
  top: 200px;
  text-align: center;
}

h3.driving-log {
  color: black;
  text-align: center;
}

h3.driving-log:hover {
  color: #00b300
}

div.driving-log {
  position: relative;
  text-align: center;
  background-color: #F8F8F8;
  color: black;
  border: 3px solid;
  width: 600px;
  left: 400px;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.driving-log-clickable {
  position: relative;
  text-align: center;
  color: black;
  background-color: #F8F8F8;
  border: 3px solid;
  width: 600px;
  left: 400px;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.driving-log-clickable:hover {
  background-color: #DDDDDD;
}

#navbar {
  color: black
}

#navbar:hover {
  color: #00b300;
}

.paperwork {
  position: relative;
  text-align: center;
  top: 100px;
  left: calc(50% - 150px);
  border: 3px solid;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.paperwork-title {
  position: relative;
  text-align: center;
  top: 50px;
  color: #00b300;
}

.homepage {
  position: relative;
  top: 200px;
  text-align: center;
  font-size: 3em;
  color: #00b300;
}

.fontsize-header-green {
  font-size: 3em;
  color: #00b300;
  position: relative;
  text-align: center;
  
}

.results-header {
  position: relative;
  text-align: center;
  font-size: 3em;
  color: #00b300;
  top: 50px
}

.green-color {
  color: #00b300;
}

.results-answer {
  position: relative;
  top: 20px;
  text-align: left;
}

.centered-triviaquestions {
  position: relative;
  text-align: center;
  top: 300px;
}

.button-center {
  position: relative;
  left: 600px;
  background: #00b300;
  border-radius: 25px
}

.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
  transform: scale(3);
  
} 

.form-check-input:checked {
  content: '';
  opacity: 1;
}

input.driving-log {
  position: relative;
  left: 600px;
  background-color: #00b300;
  border-radius: 25px;
}