.App {
  text-align: center;
  background-color: darkblue;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trivia-questions{
  background: grey;
  color: white
}

.center {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  position: absolute;
  background-color: #00b300;
  padding-bottom: 24.5%;
  padding-top: 15%;
  padding-right: 50%;
  padding-left: 50%;
  right: 0%;
  left: -5%;
}

.driving-log {
  color: black;
}

.driving-log:hover {
  color: #cccc00
}

#navbar {
  color: black
}

#navbar:hover {
  color: #cccc00;
}

.paperwork {
  position: relative;
  left: 550px;
  top: 100px;
}

.paperwork-title {
  position: relative;
  left: 515px;
  top: 50px;
  color: #00b300;
}

.homepage {
  position: relative;
  left: 300px;
  top: 300px;
  font-size: 3em;
  color: #00b300;
}

.fontsize-header-green {
  font-size: 3em;
  color: #00b300;
  position: relative;
  right: 250px;
  
}

.results-header {
  position: relative;
  left: 200px;
  font-size: 3em;
  color: #00b300;
  top: 50px
}

.green-color {
  color: #00b300;
}

.results-answer {
  position: relative;
  top: 20px;
  left: 100px;
}

.centered-triviaquestions {
  position: relative;
  left: 600px;
  top: 300px;
}

.button-center {
  position: relative;
  left: 600px;
  background: #00b300;
  border-radius: 25px
}

.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
  transform: scale(3);
} 

.form-check-input:after {
  content: '';
  color: #00b300;
}