.App {
  text-align: center;
  background-color: darkblue;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trivia-questions{
  background: grey;
  color: white
}

.center {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  position: absolute;
  background-color: #00b300;
  padding-bottom: 24.5%;
  padding-top: 15%;
  padding-right: 50%;
  padding-left: 50%;
  right: 0%;
  left: -5%;
}

.driving-log {
  color: black;
}

.driving-log:hover {
  color: #cccc00
}

#navbar {
  color: black
}

#navbar:hover {
  color: #cccc00;
}

